.SortTable {
  overflow: scroll;
  margin: 15px 0;
  background: #fff;
  max-width: 1024px;
}

.SortTable .Active {
  font-weight: 500;
  color: var(--active-color-dark);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 15px 10px 0;
  height: 30px;
  vertical-align: top;
  font-weight: 400;
}

th {
  white-space: nowrap;
  font-weight: 300;
  min-width: 100px;
  cursor: pointer;
}

th:after {
  content: '\25BC';
  padding: 0 15px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  font-size: 7px;
  display: none;
}

th:first-child:after {
  display: none;
  content: '';
}

tbody tr:nth-child(2n - 1) {
  background: #F8F9FA;
}

tbody tr td:first-child {
  text-align: center;
}

@media (min-width: 1024px) {
  th:after {
    display: inline;
  }

}
