.PaymentDetail .Container {
  margin: 20px 0;
}

h3 {
  margin: 10px;
}

.PaymentDetail .Container .View {
  flex-wrap: wrap;
}

.PaymentStatusContainer,
.ClientCardContainer,
.PaymentMethodContainer,
.PaymentNavigationContainer {
  width: 100%;
  margin: 20px 0;
}

.PaymentNavigation {
  overflow: hidden;
}

.BreakdownData {
  padding: 10px;
  text-align: right;
  width: 100%;
}

.BreakdownData p {
  width: 100%;
  margin: 30px 0;
}

.BreakdownData p span {
  margin-left: 40px;
}

.BreakdownData p:last-child {
  font-weight: 500;
  font-size: 16px;
}

.BreakdownData p:last-child span {
  font-size: 24px;
}

@media (min-width: 768px) {

  .ClientCardContainer, .PaymentMethodContainer {
    width: 49%;
  }

  .BreakdownData p:last-child {
    font-weight: 500;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .PaymentStatusContainer, .ClientCardContainer, .PaymentMethodContainer {
    max-height: 200px;
  }

  .PaymentStatusContainer {
    width: 50%;
  }

  .ClientCardContainer, .PaymentMethodContainer {
    width: 24%;
  }

  .PaymentNavigationContainer {
    width: 75%;
  }
}
