.PaymentDetail .Container {
  margin: 20px 0;
}

h3 {
  margin: 10px;
}

.PaymentDetail .Container .View {
  flex-wrap: wrap;
}

.status-container,
.client-container,
.method-container,
.nav-container {
  width: 100%;
  margin: 20px 0;
}

.PaymentNavigation {
  overflow: hidden;
}

.BreakdownData {
  padding: 10px;
  text-align: right;
  width: 100%;
}

.BreakdownData p {
  width: 100%;
  margin: 30px 0;
}

.BreakdownData p span {
  margin-left: 40px;
}

.BreakdownData p:last-child {
  font-weight: 500;
  font-size: 16px;
}

.BreakdownData p:last-child span {
  font-size: 24px;
}

@media (min-width: 768px) {

  .client-container, .method-container {
    width: 49%;
  }

  .BreakdownData p:last-child {
    font-weight: 500;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .status-container,
  .client-container,
  .method-container {
    max-height: 200px;
  }

  .status-container {
    width: 50%;
  }

  .client-container, .method-container {
    width: 24%;
  }

  .nav-container {
    width: 75%;
  }
}
