.PaymentMethod {
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 225px;
}

.PaymentMethod img{
  width: 30px;
}

.PaymentMethod .PaymentBank {
  padding: 5px 0;
}

.PaymentMethod .PaymentBrand {
  margin-right: 20px;
  text-transform: capitalize;
}

.PaymentMetadata p {
  margin: 10px 0;
  color: #fff;
  padding: 0 10px;
}

.PaymentMethod .PaymentCard {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0A1438;
  width: 100%;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.PaymentCardData {
  color: #fff;
}

.PaymentCardData p span {
  font-size: 18px;
}

.PaymentCardData p:first-child{
  font-size: 40px;
}

.PaymentMetadata {
  text-align: left;
  padding: 15px 0 0;
}

@media (min-width: 768px) {
  .PaymentMethod {
    height: 100%;
  }
}
