.Dropdown {
  --active-color-light: #EAF8F9;
  --inactive-color-dark: #000;
}

.Dropdown .Menu {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.Dropdown ul li a {
  padding: 15px 0 15px 60px;
  color: var(--inactive-color-light);
  display: block;
}

.Dropdown .Menu li a {
  color: var(--inactive-color-light)
}

.Dropdown .Visible {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.Dropdown p {
  justify-content: flex-start;
  padding: 20px 15px;
  position: relative;
  border-left: 4px solid transparent;
  color: var(--inactive-color-dark);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.5s;
}

.DropdownArrow {
  transition-duration: 0.5s;
  transition-property: transform;
  background-color: var(--inactive-color-light);
  position: absolute;
  right: 20px;
  top: 23px;
  width: 10px;
  height: 10px;
  -webkit-mask: url(./assets/arrow.svg) no-repeat center;
  mask: url(./assets/arrow.svg) no-repeat center;
}

.Dropdown p .DropdownImage {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}


/* Active Status */
.Dropdown .DropdownActive {
  border-left: 4px solid var(--active-color-dark);
  color: var(--active-color-dark);
}

.Dropdown .DropdownActive .DropdownArrow {
  background-color: var(--active-color-dark);
  transform: rotate(180deg);
}

.Menu li a.Active {
  color: var(--active-color-dark);
  background: var(--active-color-light);
}
