.DataTabs {
  display: flex;
  align-items: flex-end;
}

.DataTabs button {
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px solid #C9D0D7;
  padding: 0 25px 15px;
  white-space: nowrap;
  cursor: pointer;
}

.DataTabs button.Active {
  font-weight: 500;
  border-bottom: 3px solid #000;
}

.DataTabs .Border {
  width: inherit;
  height: 100%;
  display: inline-block;
  border-bottom: 2px solid #C9D0D7;
}
