@import "reset.css";
@import "variables.css";


* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background: var(--main-background);
}

h1 {
  font-size: 25px;
}

.ViewContainer {
  max-width: 1024px;
  padding: 10px;
}

.DataCard {
  background: #fff;
  border-radius: 5px;
  padding: 20px 10px 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: 100%;
}

.DataCard h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #C9D0D7;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}

h1 {
  margin: 0 0 20px ;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

td {
  padding: 15px 10px 0;
}

.HeroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  header {
    padding: 10px 40px;
  }
}


@media (min-width: 1024px) {
  .MainContainer {
    margin-left: 300px;
  }

  .ViewContainer {
    padding: 20px 55px;
  }
}
