@import "reset.css";
@import "variables.css";


* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--main-background);
}

.ViewContainer {
  max-width: 1024px;
  padding: 10px;
}

@media (min-width: 1024px) {
  .MainContainer {
    margin-left: 300px;
  }

  .ViewContainer {
    padding: 20px 55px;
  }
}
