@import "reset.css";
@import "variables.css";


* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--main-background);
}

.ViewContainer {
  width: 100%;
  max-width: 1024px;
  padding: 20px 15px;
}

@media (min-width: 1024px) {
  .MainContainer {
    margin-left: 300px;
  }
}
