.DataTable {
  width: 100%;
  padding: 10px 0;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

.DataTable table {
  width: 100%;
}

.DataTable th, td {
  text-align: left;
  white-space: nowrap;
}

.DataTable thead th {
  padding: 10px;
}

.DataTable tbody tr:nth-child(2n - 1) {
  background: #F8F9FA;
}
